.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.prod.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
_agent/**
knowledge/**
test/**
scripts/**
*.pem
docs/**
tsconfig*
.github/**
build.js
media/**